/* Fonts */
@font-face {
  font-family: 'Kabel-ExtraBold';
  src: url('../fonts/KabobExtrabold Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Regular';
  src: url('../fonts/KabaleMedium-Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Light';
  src: url('../fonts/KabobLight Regular.ttf') format('truetype');
}

h1 {
  font: 1.6em 'Kabel-Light';
}

h2 {
  font: 1.4em 'Lato';
}

#wrapper {
  width: 100%;
  height: 100%;
}

#leftbar {
  height: 100%;
  float: left;
}

#rightbar {
  height: 100%;
  float: right;
}

.player {
  box-sizing: border-box;
  height: 50%;
  padding: 10px;
}

#board {
	position:relative;
	width:2000px;
	height:2000px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#monopoly_ {
	position:absolute;
	left:0px;
	top:0px;
	width:271px;
	height:269px;
}

#monopoly002_ {
	position:absolute;
	left:271px;
	top:0px;
	width:165px;
	height:269px;
}

#monopoly003_ {
	position:absolute;
	left:436px;
	top:0px;
	width:158px;
	height:269px;
}

#monopoly004_ {
	position:absolute;
	left:594px;
	top:0px;
	width:164px;
	height:269px;
}

#monopoly005_ {
	position:absolute;
	left:758px;
	top:0px;
	width:162px;
	height:269px;
}

#monopoly006_ {
	position:absolute;
	left:920px;
	top:0px;
	width:163px;
	height:269px;
}

#monopoly007_ {
	position:absolute;
	left:1083px;
	top:0px;
	width:164px;
	height:269px;
}

#monopoly008_ {
	position:absolute;
	left:1247px;
	top:0px;
	width:162px;
	height:269px;
}

#monopoly009_ {
	position:absolute;
	left:1409px;
	top:0px;
	width:162px;
	height:269px;
}

#monopoly010_ {
	position:absolute;
	left:1571px;
	top:0px;
	width:158px;
	height:269px;
}

#monopoly011_ {
	position:absolute;
	left:1729px;
	top:0px;
	width:271px;
	height:269px;
}

#monopoly012_ {
	position:absolute;
	left:0px;
	top:269px;
	width:271px;
	height:165px;
}

#monopoly013_ {
	position:absolute;
	left:271px;
	top:269px;
	width:1458px;
	height:1462px;
}

#monopoly014_ {
	position:absolute;
	left:1729px;
	top:269px;
	width:271px;
	height:165px;
}

#monopoly015_ {
	position:absolute;
	left:0px;
	top:434px;
	width:271px;
	height:162px;
}

#monopoly016_ {
	position:absolute;
	left:1729px;
	top:434px;
	width:271px;
	height:162px;
}

#monopoly017_ {
	position:absolute;
	left:0px;
	top:596px;
	width:271px;
	height:162px;
}

#monopoly018_ {
	position:absolute;
	left:1729px;
	top:596px;
	width:271px;
	height:162px;
}

#monopoly019_ {
	position:absolute;
	left:0px;
	top:758px;
	width:271px;
	height:165px;
}

#monopoly020_ {
	position:absolute;
	left:1729px;
	top:758px;
	width:271px;
	height:165px;
}

#monopoly021_ {
	position:absolute;
	left:0px;
	top:923px;
	width:271px;
	height:162px;
}

#monopoly022_ {
	position:absolute;
	left:1729px;
	top:923px;
	width:271px;
	height:162px;
}

#monopoly023_ {
	position:absolute;
	left:0px;
	top:1085px;
	width:271px;
	height:162px;
}

#monopoly024_ {
	position:absolute;
	left:1729px;
	top:1085px;
	width:271px;
	height:162px;
}

#monopoly025_ {
	position:absolute;
	left:0px;
	top:1247px;
	width:271px;
	height:165px;
}

#monopoly026_ {
	position:absolute;
	left:1729px;
	top:1247px;
	width:271px;
	height:165px;
}

#monopoly027_ {
	position:absolute;
	left:0px;
	top:1412px;
	width:271px;
	height:157px;
}

#monopoly028_ {
	position:absolute;
	left:1729px;
	top:1412px;
	width:271px;
	height:157px;
}

#monopoly029_ {
	position:absolute;
	left:0px;
	top:1569px;
	width:271px;
	height:162px;
}

#monopoly030_ {
	position:absolute;
	left:1729px;
	top:1569px;
	width:271px;
	height:162px;
}

#monopoly031_ {
	position:absolute;
	left:0px;
	top:1731px;
	width:271px;
	height:269px;
}

#monopoly032_ {
	position:absolute;
	left:271px;
	top:1731px;
	width:164px;
	height:269px;
}

#monopoly033_ {
	position:absolute;
	left:435px;
	top:1731px;
	width:163px;
	height:269px;
}

#monopoly034_ {
	position:absolute;
	left:598px;
	top:1731px;
	width:162px;
	height:269px;
}

#monopoly035_ {
	position:absolute;
	left:760px;
	top:1731px;
	width:164px;
	height:269px;
}

#monopoly036_ {
	position:absolute;
	left:924px;
	top:1731px;
	width:163px;
	height:269px;
}

#monopoly037_ {
	position:absolute;
	left:1087px;
	top:1731px;
	width:162px;
	height:269px;
}

#monopoly038_ {
	position:absolute;
	left:1249px;
	top:1731px;
	width:160px;
	height:269px;
}

#monopoly039_ {
	position:absolute;
	left:1409px;
	top:1731px;
	width:153px;
	height:269px;
}

#monopoly040_ {
	position:absolute;
	left:1562px;
	top:1731px;
	width:167px;
	height:269px;
}

#monopoly041_ {
	position:absolute;
	left:1729px;
	top:1731px;
	width:271px;
	height:269px;
}