/* Fonts */
@font-face {
  font-family: 'Kabel-ExtraBold';
  src: url('../fonts/KabobExtrabold Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Regular';
  src: url('../fonts/KabaleMedium-Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Light';
  src: url('../fonts/KabobLight Regular.ttf') format('truetype');
}

h1 {
  font: 1.6em 'Kabel-Light';
}

h2 {
  font: 1.4em 'Lato';
}

#wrapper {
  width: 100%;
  height: 100%;
}

#leftbar {
  height: 100%;
  float: left;
}

#rightbar {
  height: 100%;
  float: right;
}

.player {
  box-sizing: border-box;
  height: 50%;
  padding: 10px;
}

#board {
	position:relative;
	width:2000px;
	height:2000px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#center {
	position:absolute;
	left:271px;
	top:269px;
	width:1458px;
	height:1462px;
}

#space0 {
	position:absolute;
	left:1729px;
	top:1731px;
	width:271px;
	height:269px;
}

#space1 {
	position:absolute;
	left:1562px;
	top:1731px;
	width:167px;
	height:269px;
}

#space2 {
	position:absolute;
	left:1409px;
	top:1731px;
	width:153px;
	height:269px;
}

#space3 {
	position:absolute;
	left:1249px;
	top:1731px;
	width:160px;
	height:269px;
}

#space4 {
	position:absolute;
	left:1087px;
	top:1731px;
	width:162px;
	height:269px;
}

#space5 {
	position:absolute;
	left:924px;
	top:1731px;
	width:163px;
	height:269px;
}

#space6 {
	position:absolute;
	left:760px;
	top:1731px;
	width:164px;
	height:269px;
}

#space7 {
	position:absolute;
	left:598px;
	top:1731px;
	width:162px;
	height:269px;
}

#space8 {
	position:absolute;
	left:435px;
	top:1731px;
	width:163px;
	height:269px;
}

#space9 {
	position:absolute;
	left:271px;
	top:1731px;
	width:164px;
	height:269px;
}

#space10 {
	position:absolute;
	left:0px;
	top:1731px;
	width:271px;
	height:269px;
}

#space11 {
	position:absolute;
	left:0px;
	top:1569px;
	width:271px;
	height:162px;
}

#space12 {
	position:absolute;
	left:0px;
	top:1412px;
	width:271px;
	height:157px;
}

#space13 {
	position:absolute;
	left:0px;
	top:1247px;
	width:271px;
	height:165px;
}

#space14 {
	position:absolute;
	left:0px;
	top:1085px;
	width:271px;
	height:162px;
}

#space15 {
	position:absolute;
	left:0px;
	top:923px;
	width:271px;
	height:162px;
}

#space16 {
	position:absolute;
	left:0px;
	top:758px;
	width:271px;
	height:165px;
}

#space17 {
	position:absolute;
	left:0px;
	top:596px;
	width:271px;
	height:162px;
}

#space18 {
	position:absolute;
	left:0px;
	top:434px;
	width:271px;
	height:162px;
}

#space19 {
	position:absolute;
	left:0px;
	top:269px;
	width:271px;
	height:165px;
}

#space20 {
	position:absolute;
	left:0px;
	top:0px;
	width:271px;
	height:269px;
}

#space21 {
	position:absolute;
	left:271px;
	top:0px;
	width:165px;
	height:269px;
}

#space22 {
	position:absolute;
	left:436px;
	top:0px;
	width:158px;
	height:269px;
}

#space23 {
	position:absolute;
	left:594px;
	top:0px;
	width:164px;
	height:269px;
}

#space24 {
	position:absolute;
	left:758px;
	top:0px;
	width:162px;
	height:269px;
}

#space25 {
	position:absolute;
	left:920px;
	top:0px;
	width:163px;
	height:269px;
}

#space26 {
	position:absolute;
	left:1083px;
	top:0px;
	width:164px;
	height:269px;
}

#space27 {
	position:absolute;
	left:1247px;
	top:0px;
	width:162px;
	height:269px;
}

#space28 {
	position:absolute;
	left:1409px;
	top:0px;
	width:162px;
	height:269px;
}

#space29 {
	position:absolute;
	left:1571px;
	top:0px;
	width:158px;
	height:269px;
}

#space30 {
	position:absolute;
	left:1729px;
	top:0px;
	width:271px;
	height:269px;
}

#space31 {
	position:absolute;
	left:1729px;
	top:269px;
	width:271px;
	height:165px;
}

#space32 {
	position:absolute;
	left:1729px;
	top:434px;
	width:271px;
	height:162px;
}

#space33 {
	position:absolute;
	left:1729px;
	top:596px;
	width:271px;
	height:162px;
}

#space34 {
	position:absolute;
	left:1729px;
	top:758px;
	width:271px;
	height:165px;
}

#space35 {
	position:absolute;
	left:1729px;
	top:923px;
	width:271px;
	height:162px;
}

#space36 {
	position:absolute;
	left:1729px;
	top:1085px;
	width:271px;
	height:162px;
}

#space37 {
	position:absolute;
	left:1729px;
	top:1247px;
	width:271px;
	height:165px;
}

#space38 {
	position:absolute;
	left:1729px;
	top:1412px;
	width:271px;
	height:157px;
}

#space39 {
	position:absolute;
	left:1729px;
	top:1569px;
	width:271px;
	height:162px;
}
