/* Fonts */
@font-face {
  font-family: 'Kabel-ExtraBold';
  src: url('../fonts/KabobExtrabold Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Regular';
  src: url('../fonts/KabaleMedium-Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Light';
  src: url('../fonts/KabobLight Regular.ttf') format('truetype');
}

body {
  background: rgb(0,124,49); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%, rgba(0,96,33,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,124,49,1)), color-stop(100%,rgba(0,96,33,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c31', endColorstr='#006021',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
  font: 1.6em 'Kabel-Light';
  color: white;
}

h2 {
  font: 1.4em 'Lato';
  color: white;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#leftbar {
  height: 100%;
  float: left;
}

#rightbar {
  height: 100%;
  float: right;
}

.playerinfo {
  box-sizing: border-box;
  height: 50%;
  padding: 10px;
}

#board {
	position:relative;
	width:2000px;
	height:2000px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#center {
	position:absolute;
	left:271px;
	top:269px;
	width:1458px;
	height:1462px;
}

#space0 {
	position:absolute;
	left:1729px;
	top:1731px;
	width:271px;
	height:269px;
}

#space1 {
	position:absolute;
	left:1562px;
	top:1731px;
	width:167px;
	height:269px;
}

#space2 {
	position:absolute;
	left:1409px;
	top:1731px;
	width:153px;
	height:269px;
}

#space3 {
	position:absolute;
	left:1249px;
	top:1731px;
	width:160px;
	height:269px;
}

#space4 {
	position:absolute;
	left:1087px;
	top:1731px;
	width:162px;
	height:269px;
}

#space5 {
	position:absolute;
	left:924px;
	top:1731px;
	width:163px;
	height:269px;
}

#space6 {
	position:absolute;
	left:760px;
	top:1731px;
	width:164px;
	height:269px;
}

#space7 {
	position:absolute;
	left:598px;
	top:1731px;
	width:162px;
	height:269px;
}

#space8 {
	position:absolute;
	left:435px;
	top:1731px;
	width:163px;
	height:269px;
}

#space9 {
	position:absolute;
	left:271px;
	top:1731px;
	width:164px;
	height:269px;
}

#space10 {
	position:absolute;
	left:0px;
	top:1731px;
	width:271px;
	height:269px;
}

#space11 {
	position:absolute;
	left:0px;
	top:1569px;
	width:271px;
	height:162px;
}

#space12 {
	position:absolute;
	left:0px;
	top:1412px;
	width:271px;
	height:157px;
}

#space13 {
	position:absolute;
	left:0px;
	top:1247px;
	width:271px;
	height:165px;
}

#space14 {
	position:absolute;
	left:0px;
	top:1085px;
	width:271px;
	height:162px;
}

#space15 {
	position:absolute;
	left:0px;
	top:923px;
	width:271px;
	height:162px;
}

#space16 {
	position:absolute;
	left:0px;
	top:758px;
	width:271px;
	height:165px;
}

#space17 {
	position:absolute;
	left:0px;
	top:596px;
	width:271px;
	height:162px;
}

#space18 {
	position:absolute;
	left:0px;
	top:434px;
	width:271px;
	height:162px;
}

#space19 {
	position:absolute;
	left:0px;
	top:269px;
	width:271px;
	height:165px;
}

#space20 {
	position:absolute;
	left:0px;
	top:0px;
	width:271px;
	height:269px;
}

#space21 {
	position:absolute;
	left:271px;
	top:0px;
	width:165px;
	height:269px;
}

#space22 {
	position:absolute;
	left:436px;
	top:0px;
	width:158px;
	height:269px;
}

#space23 {
	position:absolute;
	left:594px;
	top:0px;
	width:164px;
	height:269px;
}

#space24 {
	position:absolute;
	left:758px;
	top:0px;
	width:162px;
	height:269px;
}

#space25 {
	position:absolute;
	left:920px;
	top:0px;
	width:163px;
	height:269px;
}

#space26 {
	position:absolute;
	left:1083px;
	top:0px;
	width:164px;
	height:269px;
}

#space27 {
	position:absolute;
	left:1247px;
	top:0px;
	width:162px;
	height:269px;
}

#space28 {
	position:absolute;
	left:1409px;
	top:0px;
	width:162px;
	height:269px;
}

#space29 {
	position:absolute;
	left:1571px;
	top:0px;
	width:158px;
	height:269px;
}

#space30 {
	position:absolute;
	left:1729px;
	top:0px;
	width:271px;
	height:269px;
}

#space31 {
	position:absolute;
	left:1729px;
	top:269px;
	width:271px;
	height:165px;
}

#space32 {
	position:absolute;
	left:1729px;
	top:434px;
	width:271px;
	height:162px;
}

#space33 {
	position:absolute;
	left:1729px;
	top:596px;
	width:271px;
	height:162px;
}

#space34 {
	position:absolute;
	left:1729px;
	top:758px;
	width:271px;
	height:165px;
}

#space35 {
	position:absolute;
	left:1729px;
	top:923px;
	width:271px;
	height:162px;
}

#space36 {
	position:absolute;
	left:1729px;
	top:1085px;
	width:271px;
	height:162px;
}

#space37 {
	position:absolute;
	left:1729px;
	top:1247px;
	width:271px;
	height:165px;
}

#space38 {
	position:absolute;
	left:1729px;
	top:1412px;
	width:271px;
	height:157px;
}

#space39 {
	position:absolute;
	left:1729px;
	top:1569px;
	width:271px;
	height:162px;
}

.playerpiece {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: 75px 75px;
  -webkit-transition: all 300ms ease-in-out;
  opacity: 0;
}

.playerpiece1 {
  background-image: url("../images/car.png");
}

.playerpiece2 {
  background-image: url("../images/dog.png");
}

.playerpiece3 {
  background-image: url("../images/battleship.png");
}

.playerpiece4 {
  background-image: url("../images/hat.png");
}

.pieces1 {
  position: absolute;
  top: 75px;
  left: 5px;
  width: 155px;
  height: 155px;
}

.pieces2 {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 155px;
  height: 155px;
}

.pieces3 {
  position: absolute;
  top: 40px;
  left: 5px;
  width: 155px;
  height: 155px;
}

.pieces4 {
  position: absolute;
  top: 5px;
  left: 75px;
  width: 155px;
  height: 155px;
}

.cornerpiece {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 155px;
  height: 155px;
}

#justVisiting1 {
  position: absolute;
  width: 75px;
  height: 150px;
}

#justVisiting2 {
  position: absolute;
  left: 100px;
  bottom: 0px;
  width: 155px;
  height: 75px;
}

#jail {
  position: absolute;
  left: 100px;
  top: 25px;
  width: 155px;
  height: 155px;
}

#chancedeck {
  position: absolute;
  bottom: 180px;
  right: 140px;
  width: 360px;
  height: 240px;
  -webkit-transform: rotate(-45deg);
  background-color: orange;
}

#communitychestdeck {
  position: absolute;
  top: 200px;
  left: 145px;
  width: 360px;
  height: 240px;
  -webkit-transform: rotate(-45deg);
  background-color: yellow;
}

.propertyown1 {
  position: absolute;
  top: -35px;
  left: 30px;
  width: 100px;
  height: 20px;
}

.propertyown2 {
  position: absolute;
  right: -35px;
  top: 30px;
  width: 20px;
  height: 100px;
}

.propertyown3 {
  position: absolute;
  bottom: -35px;
  left: 30px;
  width: 100px;
  height: 20px;
}

.propertyown4 {
  position: absolute;
  left: -35px;
  top: 30px;
  width: 20px;
  height: 100px;
}

.playerown1 {
  background-color: red;
}

.playerown2 {
  background-color: green;
}

.playerown3 {
  background-color: blue;
}

.playerown4 {
  background-color: purple;
}

.houses1 {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 100%;
  height: 35px;
}

.houses2 {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 35px;
  height: 100%;
}

.houses3 {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 100%;
  height: 35px;
}

.houses4 {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 35px;
  height: 100%;
}

.house {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/house.png");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  opacity: 0;
}

.hotel {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../images/hotel.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  opacity: 0;
}

.hotel1 {
  position: absolute;
  top: 5px;
  left: 55px;
}

.hotel2 {
  position: absolute;
  top: 55px;
  right: 5px;
}

.hotel3 {
  position: absolute;
  bottom: 5px;
  left: 55px;
}

.hotel4 {
  position: absolute;
  left: 5px;
  top: 55px;
}

.blackness {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 42;
  display: table;
}

.blacknessWrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.gameEvent {
  font: 56px 'Lato';
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0 50px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 10px;
  opacity: 0;
  
  -webkit-transition: all 500ms ease-in-out;
}

.visible {
  opacity: 1;
}
