/* Fonts */
@font-face {
  font-family: 'Kabel-ExtraBold';
  src: url('../fonts/KabobExtrabold Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Regular';
  src: url('../fonts/KabaleMedium-Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Kabel-Light';
  src: url('../fonts/KabobLight Regular.ttf') format('truetype');
}

/* Global styles */
body {
  min-height: 300px;
  background-color: #eee;
}

#content {
  margin: 0 1em;
}

h1 {
  font: 1.6em 'Kabel-ExtraBold';
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  font: 1.4em 'Lato', Helvetica, Arial, sans-serif;
  padding: 0.3em;
}

h3 {
  font: 1.0em 'Lato', Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0 auto;
  line-height: 140%;
}

/* Title */
#title {
  border: 2px solid #222;
  background-color: #ED1B24;
  border-radius: 4px;

  padding: 5px 15px;
  margin: 20px auto;

  width: 45%;
}

.titleText {
  font: 2em 'Kabel-ExtraBold';
  text-align: center;
  color: white;
  text-shadow: -1px 2px 2px black;
}

/* Host Game Screen */
#hostGameScreen {
  display: none;
}

.buttons {
  width: inherit;
  margin: 1em auto 0 auto;
  text-align: center;
}

.btn {
  -webkit-appearance: none;
  appearance: none;
  display: inline;

  margin: 0 6px;
  font: 1em 'Kabel-ExtraBold';
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ED1B24;
  color: white;
  text-shadow: -1px 1px 1px black;
  box-shadow: 0px 1px 3px #333;
  border-radius: 3px;

  padding: 5px 20px;
}

.btn.fb {
  width: 60%;
}

.facebookLogin {
  width: inherit;
  margin: 1em auto 0 auto;
  text-align: center;
}

.btn:disabled {
  background-color: #AAA;
}

.formLabel {
	font: 20px 'Lato', Helvetica, Arial, sans-serif;
}

.textForm {
  display: block;
  width: 14em;
  height: 1.2em;
  padding: 5px;
  margin: 0 auto 0.5em auto;
  font: 0.9em 'Lato', Helvetica, Arial, sans-serif;
}

#hostError {
  color: #FF514F;
}

/* Join Game Screen */
#joinGameScreen {
  display: none;
}

#codeInput {
  text-align: center;
  width: 10em;
}

#noGamesMessage {
  display: none;
}

table {
  width: 100%;
  margin: 0 auto 1em;
  border-collapse: collapse;
  border: 1px solid black;
}

tr.alt {
  background-color: #DDD;
}

tr:hover {
  background-color: #CCC;
}

tr.selected {
  background-color: #BBB;
}

th {
  font: 20px 'Kabel-Regular';
  text-align: left;
  padding: 10px;
  background-color: #ED1B24;
  color: white;
  text-shadow: -1px 1px 1px black;
}

td {
  font: 18px 'Kabel-Light';
  padding: 10px;
  vertical-align: middle;
}

/* Game Lobby */
#gameLobbyScreen {
  display: none;
}

.gameLobbyRow {
  width: 80%;
  position: relative;
  text-align: center;
  margin: 10px auto;
}

.gameLobbyRow .userSquare {
  height: 130px;
  width: 50%;
  display: inline-block;
}

.gameLobbyRow img {
  display: block;
  margin: 2px auto;
  border: 1px solid #333;
}

.gameLobbyRow h2 {
  position: absolute;
  bottom: 0;
  font: 16px 'Lato', Helvetica, Arial, sans-serif;
  text-align: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

#gameLobby {
  margin: 0 auto 1em auto;
  background-color: #eee;
  text-align: center;
}

.playerSeat {
  width: 100%;
}

#chatWindow {
  background-color: #FFF;
  height: 6em;
  display: block;
  overflow-y: scroll;
  padding: 10px;
}

#chatWindow li {
  margin-bottom: 0.25em;
  font: 1em 'Lato', Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
}

.chatSender {
  font-weight: 700;
}

.chatEvent {
  color: #FFB200;
}

#chatForm {
  display: block;
}

#chatBox {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
  margin-bottom: 0.25em;
}

#chatSubmitBtn {
  float: right;
}
