@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.eot?') format('eot'), url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype');
}

@media only screen and (max-width : 320px) {
  #shouldbelandscape {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    text-align: center;    
  }
  #shouldbelandscape p {
    width: 90%;
    font: 20px 'Kabel-Regular', Helvetica, Arial, sans-serif;
    color: black;
    margin: 0 auto;
  }
  #content {
    display: none;
  }
}

@media only screen and (min-width: 321px) {
  #shouldbelandscape {
    display: none;
  }
  #content {
    display: visible;
  }
}

#propList {
  width: 40%;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  border-right: 1px solid black;
  border-top: 1px solid black;
  overflow: auto;
  height: 268px;
}

#content {
  position: relative;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%, rgba(0,76,16,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,130,39,1)), color-stop(100%,rgba(0,76,16,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008227', endColorstr='#004c10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
min-height: 268px;
}

#propDetails {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  background: rgb(0,130,39); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%, rgba(0,76,16,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,130,39,1)), color-stop(100%,rgba(0,76,16,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008227', endColorstr='#004c10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  min-height: 268px;
}

#propDetails .propertyCard {
  width: 522px;
  height: 600px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: white;
}

#propOptions {
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}

.optionbtn {
  height: 25%;
  width: 100%;
  position: absolute;
  left: 0;
  color: white;
  font: 250% 'Entypo';
  text-align: center;
}

#backbtn {
  top: 0;
}

.btnicon {
  width: 100%;
  height: 20%;
  display: block;
  margin-top: -10%;
}

.btncaption {
  font: 11px 'Lato';
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  display: block;
}
