body {
	background: rgb(0,124,49); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%, rgba(0,96,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,124,49,1)), color-stop(100%,rgba(0,96,33,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,124,49,1) 0%,rgba(0,96,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c31', endColorstr='#006021',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: relative;
	text-align: center;
	height: 100%;
}

#dice {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.die {
	width: 80px;
	height: 80px;
	font: 40px 'Arial';
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
	display: inline-block;
	margin: 10%;
}

.btn {
	-webkit-appearance: none;
	appearance: none;
	width: 20%;
	height: 36px;
	display: block;

	font: 24px 'Lato' 'Helvetica Neue' Helvetica Arial sans-serif;

	background-color: #eee;
	color: #333;
	text-shadow: -1px 1px 1px black;
	box-shadow: 0px 1px 3px #333;
	margin: 0 auto;
}

.buttons {
	position: absolute;
	bottom: 15%;
	width: 100%;
	text-align: center;
}

