@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.eot?') format('eot'), url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype');
}

html {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 268px;
  background: rgb(0,130,39); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%, rgba(0,76,16,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,130,39,1)), color-stop(100%,rgba(0,76,16,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0,130,39,1) 0%,rgba(0,76,16,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008227', endColorstr='#004c10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

body {
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 268px;
} 

#content {
  position: relative;
  height: 100%;
  top: 0;
}

#dice {
  width: 80%;
  position: absolute;
  margin: 20px 10%;
  text-align: center;
  top: 0;
}

/*.die {
  width: 80px;
  height: 80px;
  font: 40px 'Lato' 'Helvetica Neue' Helvetica Arial sans-serif;
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
  display: inline-block;
  margin: 10%;
  position: relative;
  -moz-box-shadow: 0 1px 3px 0 #333;
  -webkit-box-shadow: 0 1px 3px 0 #333;
  box-shadow: 0 1px 5px 0 #333;
}*/



/* CSS Dice: An Experiment by Jonathan Sampson - @jonathansampson */
.die.one .dot { 
  box-shadow: 0 .2em 0 #FFF 
}
.die.two .dot { 
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345, 
         2.3em  2.3em 0 #345, 
        -2.3em -2.3em 0 #FFF, 
         2.3em  2.4em 0 #FFF 
}
.die.three .dot { 
  box-shadow: -2.3em -2.3em 0 #345, 
         2.3em  2.3em 0 #345, 
        -2.3em -2.3em 0 #FFF, 
         2.3em  2.4em 0 #FFF, 
             0   .2em 0 #FFF 
}
.die.four .dot { 
  background: transparent;
        box-shadow: -2.3em -2.3em 0 #345, 
               2.3em  2.3em 0 #345, 
              -2.3em  2.3em 0 #345, 
               2.3em -2.3em 0 #345, 
              -2.3em -2.3em 0 #FFF, 
               2.3em  2.4em 0 #FFF, 
              -2.3em  2.4em 0 #FFF, 
               2.3em -2.3em 0 #FFF 
}
.die.five .dot { 
  box-shadow: -2.3em -2.3em 0 #345, 
         2.3em  2.3em 0 #345, 
        -2.3em  2.3em 0 #345, 
         2.3em -2.3em 0 #345, 
        -2.3em -2.2em 0 #FFF, 
         2.3em -2.2em 0 #FFF, 
         2.3em  2.4em 0 #FFF, 
        -2.3em  2.4em 0 #FFF,
             0   .2em 0 #FFF 
}
.die.six .dot {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345,
        -2.3em      0 0 #345,
        -2.3em  2.3em 0 #345,
         2.3em -2.3em 0 #345,
         2.3em      0 0 #345,
         2.3em  2.3em 0 #345,
        -2.3em -2.1em 0 #FFF,
        -2.3em   .2em 0 #FFF,
        -2.3em  2.4em 0 #FFF,
         2.3em  2.4em 0 #FFF,
         2.3em   .2em 0 #FFF,
         2.3em -2.1em 0 #FFF
}
.die {
  border-top: 1px solid #f1f1f1;
  width: 80px; height: 80px;
  border-radius: 10px;
  position: relative;
  margin: 20px 35px;
  font-size: 9px;
  display: inline-block;
  box-shadow: 0px 7px 0 #CCC, 0 9px 3px #444, 0 12px 5px #999;
  background: rgb(254,254,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,254,254,0.95) 0%, rgba(241,241,241,0.95) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,0.95)), color-stop(100%,rgba(241,241,241,0.95))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,254,254,0.95) 0%,rgba(241,241,241,0.95) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,254,254,0.95) 0%,rgba(241,241,241,0.95) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,254,254,0.95) 0%,rgba(241,241,241,0.95) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(254,254,254,0.95) 0%,rgba(241,241,241,0.95) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

}
.dot {
  width: 20%; 
  height: 20%; 
  left: 50%; 
  top: 50%;
  margin: -10%;
  background: #345;
  border-radius: 50%;
  display: block;
  position: absolute;
}
body { text-align: center }

.btn {
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 36px;
  display: block;

  font: 24px 'Lato' 'Helvetica Neue' Helvetica Arial sans-serif;

  background-color: #f0f0f0;
  color: #333;
  text-shadow: -1px 1px 1px black;
  box-shadow: 0px 1px 3px #333;
  margin: 0 auto;
}

.buttons {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
}

#rollresult {
  position: absolute;
  bottom: 35%;
  width: 100%;
  text-align: center;
}

#rollvalue {
  font: 24px 'Lato' 'Helvetica Neue' Helvetica Arial sans-serif;
  color: #f0f0f0;
}

.blackness {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  min-height: 268px;
}

.confirmWrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.confirmbox {
  background-color: #ddd;
  border: 6px solid #333;
  text-align: center;
  margin: 0 auto;
  font: 16px 'Lato';
  width: 240px;
  height: 240px;
  position: relative;
}

.confirmbox p {
  line-height: 150%;
  margin-top: 10%;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.promptmsg {
  position: absolute;
  top: 10%;
  width: 100%;
}

.promptbox {
  display: inline-block;
  font: 68px 'Entypo';
  margin: 30% 20px 0 20px;
  border: 2px solid #333;
  width: 40px;
  height: 40px;
  position: relative;
}

.promptbox p {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: -30px; /* offset for Entypo's weird sizing */
  color: white;
}

.boxeyboxes {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

#yesbox {
  background-color: #007A30;
}

#nobox {
  background-color: #EF3A24;
  font-size: 84px;
}

#nobox p {
  margin-top: -42px;
}

